# Table1

In [129]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\Vaishali Tomar\Desktop\zomato_project\excel\with_link.csv')
df

,restaurant_id,Name,Rating,cusines,delivery_review_number,location,Longitude,Latitude,Restaurant_link,price_for_one
0,1,Itminaan Matka Biryani - Slow Cooked,4,"Biryani, North Indian, Desserts",64,"Ulsoor, Bangalore",77.624670,12.977879,https://www.zomato.com/bangalore/itminaan-matk...,₹250 for one order (approx.)
1,2,Chicking,3.7,"Fast Food, Burger, Pizza",622,"Rajajinagar, Bangalore",77.554883,12.988234,https://www.zomato.com/bangalore/chicking-1-ra...,₹200 for one order (approx.)
2,3,Ludos Pizza,4,"Pizza, Fast Food, Desserts, Beverages",152,"Marathahalli, Bangalore",77.698416,12.955257,https://www.zomato.com/bangalore/ludos-pizza-2...,₹300 for one order (approx.)
3,4,Auntie Fung's,4,"Asian, Thai, Vietnamese, Japanese, Indonesian,...","1,491","Indiranagar, Bangalore",77.640467,12.973291,https://www.zomato.com/bangalore/auntie-fungs-...,₹300 for one order (approx.)
4,5,Burgers And Shakes,4,"Burger, Sandwich, Fast Food, Shake, Beverages",18,"Indiranagar, Bangalore",77.640467,12.973291,https://www.zomato.com/bangalore/burgers-and-s...,₹100 for one order (approx.)
...,...,...,...,...,...,...,...,...,...,...
7591,7592,BOX8 - Desi Meals,4.3,"North Indian, Wraps, Fast Food, Biryani, Desse...",21.1K,"Bannerghatta Road, Bangalore",77.604190,12.952180,https://www.zomato.com/bangalore/box8-desi-mea...,₹250 for one order (approx.)
7592,7593,The Bangalore Dhaba,3.9,"North Indian, Italian, Chinese, Mughlai, Bever...",154,"Kalyan Nagar, Bangalore",77.640337,13.022142,https://www.zomato.com/bangalore/the-bangalore...,₹800 for two people (approx.) Without alcohol
7593,7594,RRB Ambur Hot Dum Biriyani,3.8,"Biryani, Kebab",112,"RT Nagar, Bangalore",77.595715,13.022720,https://www.zomato.com/bangalore/rrb-ambur-hot...,₹300 for two people (approx.)
7594,7595,Wrap It,4.1,Wraps,109,"Whitefield, Bangalore",77.749745,12.969637,https://www.zomato.com/bangalore/wrap-it-white...,₹250 for one order (approx.)
7595,7596,Mega Biryani,4,Biryani,7,"Jayanagar, Bangalore",77.582423,12.929273,https://www.zomato.com/bangalore/mega-biryani-...,₹200 for one order (approx.)

In [101]:
# cleaning the "price_for_one" column

In [130]:
col = ['₹','for','order','approx.','(',')','people','Without alcohol','with alcohol']
for i in col:
    df['price_for_one'] = df["price_for_one"].str.replace(i,'').str.replace(',','')

C:\Users\Vaishali Tomar\AppData\Local\Temp\ipykernel_27348\3226383660.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price_for_one'] = df["price_for_one"].str.replace(i,'').str.replace(',','')
C:\Users\Vaishali Tomar\AppData\Local\Temp\ipykernel_27348\3226383660.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price_for_one'] = df["price_for_one"].str.replace(i,'').str.replace(',','')

In [131]:
list =[]
for i in df['price_for_one']:
    list.append(str(i))

In [132]:
L = []
for i in list:
    if 'two' in i:
        i = i.replace('two','')
        i = i.replace(' ','')
        i = int(i)
        i = i/2
        L.append(i)
    elif 'one' in i:
        i = i.replace('one','')
        i = i.replace(' ','')
        L.append(i)
    else:
        L.append(i)

In [133]:
df['price_for_one'] = L

In [135]:
df.head()

,restaurant_id,Name,Rating,cusines,delivery_review_number,location,Longitude,Latitude,Restaurant_link,price_for_one
0,1,Itminaan Matka Biryani - Slow Cooked,4,"Biryani, North Indian, Desserts",64,"Ulsoor, Bangalore",77.624670,12.977879,https://www.zomato.com/bangalore/itminaan-matk...,250
1,2,Chicking,3.7,"Fast Food, Burger, Pizza",622,"Rajajinagar, Bangalore",77.554883,12.988234,https://www.zomato.com/bangalore/chicking-1-ra...,200
2,3,Ludos Pizza,4,"Pizza, Fast Food, Desserts, Beverages",152,"Marathahalli, Bangalore",77.698416,12.955257,https://www.zomato.com/bangalore/ludos-pizza-2...,300
3,4,Auntie Fung's,4,"Asian, Thai, Vietnamese, Japanese, Indonesian,...","1,491","Indiranagar, Bangalore",77.640467,12.973291,https://www.zomato.com/bangalore/auntie-fungs-...,300
4,5,Burgers And Shakes,4,"Burger, Sandwich, Fast Food, Shake, Beverages",18,"Indiranagar, Bangalore",77.640467,12.973291,https://www.zomato.com/bangalore/burgers-and-s...,100

### checking dtypes

In [136]:
df.dtypes

restaurant_id               int64
Name                       object
Rating                     object
cusines                    object
delivery_review_number     object
location                   object
Longitude                 float64
Latitude                  float64
Restaurant_link            object
price_for_one              object
dtype: object

In [137]:
df['price_for_one']=df['price_for_one'].astype('float64')

# Treating noise values

### removing ','  and inplace of 'K' multipling 1000 in "delivery_review_number"

In [138]:
df['delivery_review_number'] = df["delivery_review_number"].str.replace(',','').str.replace(',','') #removing ','

In [139]:
df["delivery_review_number"].isnull().sum()

63

In [140]:
df['delivery_review_number'].fillna(0,inplace = True) #filling null values

In [141]:
# replacing 'K' with 'into 1000'
df['delivery_review_number']=df["delivery_review_number"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)

In [142]:
df['Rating'] = df["Rating"].str.replace('-','').str.replace(',','') #removing '-' from reviews
df['Rating']=pd.to_numeric(df['Rating'],errors='coerce')
df['Rating'].fillna(0,inplace = True)

### checking null values

In [143]:
df.isnull().sum()

restaurant_id               0
Name                        3
Rating                      0
cusines                     3
delivery_review_number      0
location                    3
Longitude                 240
Latitude                  240
Restaurant_link             0
price_for_one               5
dtype: int64

In [144]:
col = ['price_for_one','location','cusines','Name']
for i in col:
    df[i]=df[i].dropna()

In [145]:
df.isnull().sum()

restaurant_id               0
Name                        3
Rating                      0
cusines                     3
delivery_review_number      0
location                    3
Longitude                 240
Latitude                  240
Restaurant_link             0
price_for_one               5
dtype: int64

In [146]:
ffill = [df[i].fillna(method= 'ffill',inplace = True) for i in ['Longitude','Latitude']]

In [147]:
df.dropna(inplace = True)

In [85]:
# checking data type again

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7589 entries, 0 to 7595
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   restaurant_id           7589 non-null   int64
 1   Name                    7589 non-null   object
 2   Rating                  7589 non-null   float64
 3   cusines                 7589 non-null   object
 4   delivery_review_number  7589 non-null   int32
 5   location                7589 non-null   object
 6   Longitude               7589 non-null   float64
 7   Latitude                7589 non-null   float64
 8   Restaurant_link         7589 non-null   object
 9   price_for_one           7589 non-null   float64
dtypes: float64(4), int32(1), int64(1), object(4)
memory usage: 622.5+ KB

In [128]:
df.shape

(7589, 10)

## Now the data looks clean

# Table2

In [57]:
df1 = pd.read_csv(r'C:\Users\Vaishali Tomar\Desktop\zomato_project\excel\restaurant_details.csv')
df1.head()

,location,dish_name,dish_price,restaurant_name
0,"Ulsoor, Bangalore",1 KG Veg & Paneer Overload Matka Biryani + FRE...,₹449,Itminaan Matka Biryani - Slow Cooked
1,"Ulsoor, Bangalore",1 KG Bhuna Chicken Matka Biryani + FREE Dessert,₹499,Itminaan Matka Biryani - Slow Cooked
2,"Ulsoor, Bangalore",1 KG Chole Dumdaar Matka Biryani + FREE Dessert,₹399,Itminaan Matka Biryani - Slow Cooked
3,"Ulsoor, Bangalore",Timeless Chicken Tikka [Boneless],₹229,Itminaan Matka Biryani - Slow Cooked
4,"Ulsoor, Bangalore",Tandoor style Chicken Wings,₹199,Itminaan Matka Biryani - Slow Cooked

In [58]:
df1.shape

(75960, 4)

### cheaching null values

In [59]:
df1.isnull().sum()

location            140
dish_name          7890
dish_price         7890
restaurant_name     140
dtype: int64

In [60]:
df1.dropna(inplace=True)

### data types

In [61]:
df1.dtypes

location           object
dish_name          object
dish_price         object
restaurant_name    object
dtype: object

In [62]:
df1['dish_price'] = df1["dish_price"].str.replace('₹','').str.replace(',','') #removing '₹'

In [63]:
df1.head()

,location,dish_name,dish_price,restaurant_name
0,"Ulsoor, Bangalore",1 KG Veg & Paneer Overload Matka Biryani + FRE...,449,Itminaan Matka Biryani - Slow Cooked
1,"Ulsoor, Bangalore",1 KG Bhuna Chicken Matka Biryani + FREE Dessert,499,Itminaan Matka Biryani - Slow Cooked
2,"Ulsoor, Bangalore",1 KG Chole Dumdaar Matka Biryani + FREE Dessert,399,Itminaan Matka Biryani - Slow Cooked
3,"Ulsoor, Bangalore",Timeless Chicken Tikka [Boneless],229,Itminaan Matka Biryani - Slow Cooked
4,"Ulsoor, Bangalore",Tandoor style Chicken Wings,199,Itminaan Matka Biryani - Slow Cooked

In [64]:
df1['dish_price']=df1['dish_price'].astype('float') #changing data type of dish_price

In [65]:
df1.dtypes

location            object
dish_name           object
dish_price         float64
restaurant_name     object
dtype: object

# Both the tables are clean now

#### downloading both the csv's

In [66]:
df.to_csv(r"C:\Users\Vaishali Tomar\Desktop\zomato_project\restaurant_info.csv")

In [67]:
df1.to_csv(r"C:\Users\Vaishali Tomar\Desktop\zomato_project\restaurant_details.csv")